-r requirements.txt
black==23.7.0
flake8==6.0.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-isort==6.0.0
flake8-string-format==0.3.0
flake8-tuple==0.4.1
groundwork-sphinx-theme==1.1.1
isort==5.12.0
markdown==3.4.3
m2r2==0.3.3.post2
mock==5.1.0
pytest==7.4.0
pytest-cov==4.1.0
pytest-env==0.8.2
pytest-mypy==0.10.3
pytest-pylint==0.19.0
pytest-random-order==1.1.0
sphinx==7.1.0
twine==4.0.2
types-mock==5.1.0.1
types-pytz==2023.3.0.0
types-setuptools==68.0.0.3
wheel==0.41.0
